node_modules
dist
data
.git
.idea
.env
spiw/__pycache__
**/__pycache__
spiw/
*.py
*.pyc
*.pyo
*.pyd
*.so
pyproject.toml
poetry.lock
requirements.txt
requirements-*.txt
Pipfile
Pipfile.lock
.venv
venv
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
*.egg-info
